<html>
<head>
	<title>CGPA Calculator</title>
	<style>
	input,button,h1{
		padding: 5px;
		margin:3px;
		text-align:center;
		width: 120%;
	}
	h3{
		padding-left: 40px;
		text-align:center;
	}
	.center{
		margin: 50px;
		width: 25%;
		text-align: center;
		padding: 0 90px 10px 400px;
	}
	.data1{
		padding-left: 30px;
	}
	</style>
</head>

<body style="background-color: #99aabb">
	<div class="center">
		<h3><u>Regulation</u> <u>2017</u></h3>
		<h3><u>CGPA</u> <u>Calculator</u></h3>
		<div class="data1">Enter GPA till your current semester:</div> 
		{% block content %}	
			
		{% endblock content%}
	</div>
</body>
</html>